<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxl.job.admin.dao.HolidayDao">
    <select id="selectHolidayByDate" resultType="com.xxl.job.admin.core.model.Holiday">
        SELECT * FROM holiday WHERE #{date} BETWEEN holiday_begin_date AND holiday_end_date
    </select>
</mapper>